Repository microsoft/agent-framework, changes with the labels that .github/labeler.yml gives for each.
All labels: python, .NET, documentation, workflows, lab

.github/labeler.yml:

# Add 'python' label to any change within the 'python' directory
python:
- changed-files:
  - any-glob-to-any-file:
    - python/**

# Add '.NET' label to any change within samples or kernel 'dotnet' directories.
.NET:
- changed-files:
  - any-glob-to-any-file:
    - dotnet/**

# Add 'documentation' label to any change within the 'docs' directory, or any '.md' files
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - '**/*.md'

# Add 'workflows' label to any change within the dotnet or python workflows src or samples
workflows:
- changed-files:
  - any-glob-to-any-file:
    - dotnet/src/Microsoft.Agents.Workflows/**
    - dotnet/src/Microsoft.Agents.Workflows.Declarative/**
    - dotnet/samples/GettingStarted/Workflow/**
    - python/packages/main/agent_framework/_workflow/**
    - python/samples/getting_started/workflow/**

# Add 'lab' label to any change within the 'python/packages/lab' directory
lab:
- changed-files:
  - any-glob-to-any-file:
    - python/packages/lab/**

Implemented termination
  python/packages/main/agent_framework/_middleware.py
  python/packages/main/tests/main/test_middleware.py
  python/packages/main/tests/main/test_middleware_with_agent.py
Labels: python

update ui build
  python/packages/devui/agent_framework_devui/ui/assets/index-8J26YU4a.css
  python/packages/devui/agent_framework_devui/ui/assets/index-B9nmW1PL.js
  python/packages/devui/agent_framework_devui/ui/assets/index-Cg94izsm.css
  python/packages/devui/agent_framework_devui/ui/assets/index-DbHmYasw.js
  python/packages/devui/agent_framework_devui/ui/index.html
Labels: python

Improve type utils
  python/packages/main/agent_framework/_workflow/_typing_utils.py
  python/packages/main/tests/workflow/test_edge.py
  python/packages/main/tests/workflow/test_typing_utils.py
  python/uv.lock
Labels: python, workflows

removed hosted image gen
  python/packages/main/agent_framework/_tools.py
  python/packages/main/agent_framework/_types.py
  python/packages/main/agent_framework/openai/_responses_client.py
  python/packages/main/tests/main/test_tools.py
  python/packages/main/tests/openai/test_openai_responses_client.py
  python/samples/getting_started/agents/openai_responses_client/openai_responses_client_image_generation.py
Labels: python

Update AgentProxy thread constructors to be internal as well.
  dotnet/samples/AgentWebChat/AgentWebChat.Web/Components/Pages/Home.razor
  dotnet/src/Microsoft.Extensions.AI.Agents.Hosting/AgentProxy.cs
  dotnet/src/Microsoft.Extensions.AI.Agents.Hosting/AgentProxyThread.cs
  dotnet/tests/Microsoft.Extensions.AI.Agents.Hosting.UnitTests/AgentProxyTests.cs
Labels: .NET

coolio
  dotnet/agent-framework-dotnet.slnx
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  workflow-samples/DeepResearch.yaml
  workflow-samples/HumanInLoop.yaml
  workflow-samples/Marketing.yaml
  workflow-samples/MathChat.yaml
  workflow-samples/README.md
  workflow-samples/setup/.gitignore
  workflow-samples/setup/AnalystAgent.yaml
  workflow-samples/setup/CoderAgent.yaml
  workflow-samples/setup/Create.ps1
  workflow-samples/setup/CreateAgents/CreateAgents.csproj
  workflow-samples/setup/CreateAgents/CreateAgents.slnx
  workflow-samples/setup/CreateAgents/Program.cs
  workflow-samples/setup/CreateAgents/nuget.config
  workflow-samples/setup/ManagerAgent.yaml
  workflow-samples/setup/QuestionAgent.yaml
  workflow-samples/setup/README.md
  workflow-samples/setup/StudentAgent.yaml
  workflow-samples/setup/TeacherAgent.yaml
  workflow-samples/setup/WeatherAgent.yaml
  workflow-samples/setup/WebAgent.yaml
  workflow-samples/wttr.json
Labels: .NET, documentation

Update dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
Labels: .NET, documentation

fix remaining issues
  python/packages/main/agent_framework/_workflow/_concurrent.py
  python/packages/main/agent_framework/_workflow/_executor.py
  python/packages/main/agent_framework/_workflow/_magentic.py
  python/packages/main/agent_framework/_workflow/_workflow.py
  python/packages/main/tests/workflow/test_sub_workflow.py
  python/packages/main/tests/workflow/test_workflow.py
  python/packages/main/tests/workflow/test_workflow_agent.py
  python/samples/getting_started/workflow/agents/workflow_as_agent_human_in_the_loop.py
  python/samples/getting_started/workflow/checkpoint/checkpoint_with_resume.py
Labels: python, workflows
