Repository microsoft/agent-framework, pull requests merged in 2025-10, with the labels that each got.

#1062 .NET: Add link inspector
  .github/.linkspector.yml
  .github/workflows/markdown-link-check.yml
  docs/CONTRIBUTING_TO_DOCS.md
  docs/decisions/0007-agent-filtering-middleware.md
  dotnet/README.md
  dotnet/samples/GettingStarted/AgentProviders/README.md
  dotnet/samples/GettingStarted/Agents/README.md
  dotnet/samples/GettingStarted/README.md
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  dotnet/samples/GettingStarted/Workflows/README.md
  dotnet/samples/GettingStarted/Workflows/Visualization/README.md
  python/DEV_SETUP.md
  python/README.md
  python/packages/core/README.md
  python/samples/SAMPLE_GUIDELINES.md
  python/samples/getting_started/observability/README.md
  python/samples/getting_started/workflows/README.md
  workflow-samples/README.md
  workflow-samples/setup/README.md
Labels: documentation, python, .NET

#1072 README update: badges, docs, and improved hello world
  README.md
Labels: documentation

#1069 .NET: Remove System.Linq.Async dependency from src assemblies
  dotnet/samples/GettingStarted/Agents/Agent_Step04_UsingFunctionToolsWithApprovals/Agent_Step04_UsingFunctionToolsWithApprovals.csproj
  dotnet/samples/SemanticKernelMigration/AzureAIFoundry/Step04_CodeInterpreter/AzureAIFoundry_Step04_CodeInterpreter.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAI/Step01_Basics/AzureOpenAI_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIAssistants/Step01_Basics/AzureOpenAIAssistants_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIAssistants/Step02_ToolCall/AzureOpenAIAssistants_Step02_ToolCall.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIAssistants/Step03_DependencyInjection/AzureOpenAIAssistants_Step03_DependencyInjection.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIAssistants/Step04_CodeInterpreter/AzureOpenAIAssistants_Step04_CodeInterpreter.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIResponses/Step01_Basics/AzureOpenAIResponses_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIResponses/Step02_ReasoningModel/AzureOpenAIResponses_Step02_ReasoningModel.csproj
  dotnet/samples/SemanticKernelMigration/AzureOpenAIResponses/Step03_ToolCall/AzureOpenAIResponses_Step03_ToolCall.csproj
  dotnet/samples/SemanticKernelMigration/OpenAI/Step01_Basics/OpenAI_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIAssistants/Step01_Basics/OpenAIAssistants_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIAssistants/Step02_ToolCall/OpenAIAssistants_Step02_ToolCall.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIAssistants/Step03_DependencyInjection/OpenAIAssistants_Step03_DependencyInjection.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIAssistants/Step04_CodeInterpreter/OpenAIAssistants_Step04_CodeInterpreter.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIResponses/Step01_Basics/OpenAIResponses_Step01_Basics.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIResponses/Step02_ReasoningModel/OpenAIResponses_Step02_ReasoningModel.csproj
  dotnet/samples/SemanticKernelMigration/OpenAIResponses/Step03_ToolCall/OpenAIResponses_Step03_ToolCall.csproj
  dotnet/src/Microsoft.Agents.AI.AzureAI/Microsoft.Agents.AI.AzureAI.csproj
  dotnet/src/Microsoft.Agents.AI.OpenAI/ChatClient/AsyncStreamingUpdateCollectionResult.cs
  dotnet/src/Microsoft.Agents.AI.OpenAI/Microsoft.Agents.AI.OpenAI.csproj
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/ObjectModel/RetrieveConversationMessagesExecutor.cs
  dotnet/src/Shared/CodeTests/Compiler.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests.csproj
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests.csproj
Labels: .NET

#1075 Update README hello world example
  README.md
Labels: documentation

#1080 .NET Workflows - Re-enable Declarative Integration Tests
  .github/workflows/dotnet-build-and-test.yml
  dotnet/samples/GettingStarted/ModelContextProtocol/FoundryAgent_Hosted_MCP/README.md
  dotnet/samples/GettingStarted/Workflows/Declarative/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/AddConversationMessageTemplate.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/AddConversationMessageTemplate.tt
  dotnet/src/Shared/IntegrationTests/AzureAIConfiguration.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Agents/TestAgent.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/AzureAgentProviderTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeCodeGenTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeWorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/AgentFactory.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/IntegrationTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests.csproj
  workflow-samples/README.md
  workflow-samples/setup/AnalystAgent.yaml
  workflow-samples/setup/CoderAgent.yaml
  workflow-samples/setup/ManagerAgent.yaml
  workflow-samples/setup/QuestionAgent.yaml
  workflow-samples/setup/StudentAgent.yaml
  workflow-samples/setup/TeacherAgent.yaml
  workflow-samples/setup/WeatherAgent.yaml
  workflow-samples/setup/WebAgent.yaml
Labels: documentation, .NET, github actions, workflows, github_actions

#1093 Python: Update getting started samples to reflect AF. Update a unit test.
  python/packages/azure-ai/tests/test_azure_ai_agent_client.py
  python/samples/getting_started/agents/azure_ai/azure_ai_with_hosted_mcp.py
  python/samples/getting_started/agents/azure_ai/azure_ai_with_local_mcp.py
  python/samples/getting_started/agents/azure_ai/azure_ai_with_multiple_tools.py
  python/samples/getting_started/agents/openai/openai_chat_client_with_local_mcp.py
  python/samples/getting_started/agents/openai/openai_responses_client_with_hosted_mcp.py
  python/samples/getting_started/agents/openai/openai_responses_client_with_local_mcp.py
Labels: python

#1094 .NET: Tweak AgentAbstractionsJsonUtilities to better match AIJsonUtilities
  dotnet/src/Microsoft.Agents.AI.Abstractions/AgentAbstractionsJsonUtilities.cs
  dotnet/tests/Microsoft.Agents.AI.Abstractions.UnitTests/AgentAbstractionsJsonUtilitiesTests.cs
Labels: .NET

#1098 Update pip install command for agent-framework
  README.md
Labels: documentation

#1113 .NET: Fix lists in XML comments so they render properly in the documentation.
  dotnet/src/Microsoft.Agents.AI.A2A/A2AHostAgent.cs
  dotnet/src/Microsoft.Agents.AI.A2A/Extensions/A2ACardResolverExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/AgentAbstractionsJsonUtilities.cs
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientAgentThread.cs
Labels: .NET

#1087 .NET: NET Workflows - Skip conversation initialization when identifier is provided
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/CreateConversationTemplate.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/CreateConversationTemplate.tt
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/DeclarativeWorkflowBuilder.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Events/ConversationUpdateEvent.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Extensions/AgentProviderExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Interpreter/DeclarativeWorkflowExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Kit/RootExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/ObjectModel/CreateConversationExecutor.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeCodeGenTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeWorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/Testcase.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowEvents.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/ConversationMessages.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/DeepResearch.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/HumanInLoop.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/InvokeAgent.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/Marketing.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/MathChat.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/SendActivity.json
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Workflows/InvokeAgent.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/DeclarativeWorkflowTest.cs
  workflow-samples/DeepResearch.yaml
Labels: bug, .NET, workflows

#1107 Python: updated docstrings of all _files
  CONTRIBUTING.md
  README.md
  python/docs/generate_docs.py
  python/packages/core/agent_framework/_agents.py
  python/packages/core/agent_framework/_clients.py
  python/packages/core/agent_framework/_mcp.py
  python/packages/core/agent_framework/_memory.py
  python/packages/core/agent_framework/_middleware.py
  python/packages/core/agent_framework/_serialization.py
  python/packages/core/agent_framework/_telemetry.py
  python/packages/core/agent_framework/_threads.py
  python/packages/core/agent_framework/_tools.py
  python/packages/core/agent_framework/_types.py
  python/packages/core/agent_framework/_workflows/_concurrent.py
  python/packages/core/agent_framework/_workflows/_executor.py
  python/packages/core/agent_framework/_workflows/_sequential.py
  python/packages/core/agent_framework/_workflows/_workflow_context.py
  python/packages/core/agent_framework/_workflows/_workflow_executor.py
  python/packages/core/agent_framework/observability.py
  python/packages/core/pyproject.toml
  python/packages/redis/agent_framework_redis/_chat_message_store.py
  python/shared_tasks.toml
  python/uv.lock
Labels: documentation, python

#1129 added language and updated docs
  README.md
  TRANSPARENCY_FAQ.md
Labels: documentation

#1112 .NET: Version preview.251002.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#1136 .NET: Ignore CS8002 warning when building packages
  dotnet/Directory.Build.props
Labels: .NET

#1134 .NET Workflows - Clean-up declarative docs and product-context.
  dotnet/samples/GettingStarted/Workflows/Declarative/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  dotnet/samples/GettingStarted/Workflows/DeclarativeEject/Program.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Interpreter/WorkflowTemplateVisitor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/PowerFx/WorkflowDiagnostics.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/PowerFx/WorkflowFormulaState.cs
  workflow-samples/README.md
Labels: documentation, enhancement, .NET, workflows

#1143 Python: Default DevUI workflows to string input when start node is auto-wrapped agent
  python/packages/core/agent_framework/__init__.py
  python/packages/devui/agent_framework_devui/_executor.py
  python/packages/devui/agent_framework_devui/_server.py
  python/packages/devui/tests/test_execution.py
  python/packages/devui/tests/test_server.py
Labels: python, squad: workflows, workflows, devui

#1144 .NET: Add some DebuggerDisplays / DebuggerTypeProxys to abstraction types
  dotnet/src/Microsoft.Agents.AI.Abstractions/AIAgent.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/AIAgentMetadata.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/AgentThreadMetadata.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/InMemoryAgentThread.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/InMemoryChatMessageStore.cs
  dotnet/src/Microsoft.Agents.AI.Abstractions/ServiceIdAgentThread.cs
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientAgentThread.cs
Labels: .NET

#1141 .NET: Update A2A library to 0.3.1-preview
  dotnet/Directory.Build.props
  dotnet/Directory.Packages.props
  dotnet/samples/AgentWebChat/AgentWebChat.Web/A2AAgentClient.cs
  dotnet/src/Microsoft.Agents.AI.A2A/A2AAgent.cs
  dotnet/src/Microsoft.Agents.AI.A2A/A2AHostAgent.cs
  dotnet/src/Microsoft.Agents.AI.A2A/Extensions/A2AMessageExtensions.cs
  dotnet/src/Microsoft.Agents.AI.A2A/Extensions/ChatMessageExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.A2A/AIAgentExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.A2A/Converters/MessageConverter.cs
  dotnet/tests/Microsoft.Agents.AI.A2A.UnitTests/A2AAgentTests.cs
  dotnet/tests/Microsoft.Agents.AI.A2A.UnitTests/Extensions/A2ACardResolverExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.AI.A2A.UnitTests/Extensions/A2AClientExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.AI.A2A.UnitTests/Extensions/A2AMessageExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.AI.Hosting.A2A.Tests/Converters/MessageConverterTests.cs
Labels: .NET

#1149 .NET: Update A2A sample to work with latest A2A library
  dotnet/samples/A2AClientServer/A2AServer/A2AServer.http
  dotnet/samples/A2AClientServer/A2AServer/Program.cs
  dotnet/samples/A2AClientServer/README.md
Labels: documentation, .NET

#1159 .NET: Add sample showing how to use any foundry model
  dotnet/agent-framework-dotnet.slnx
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryAgent/Agent_With_AzureFoundryAgent.csproj
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryAgent/Program.cs
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryAgent/README.md
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryModel/Agent_With_AzureFoundryModel.csproj
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryModel/Program.cs
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_AzureFoundryModel/README.md
  dotnet/samples/GettingStarted/AgentProviders/README.md
Labels: documentation, .NET

#1161 .NET: Fix CreatedAt merging for agent run updates
  dotnet/src/Microsoft.Agents.AI.Abstractions/AgentRunResponseExtensions.cs
  dotnet/tests/Microsoft.Agents.AI.Abstractions.UnitTests/AgentRunResponseUpdateExtensionsTests.cs
Labels: .NET

#1171 .NET Workflows - Enable "human in the loop" case for declarative integration tests
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Interpreter/DeclarativeActionExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Interpreter/DeclarativeWorkflowExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Interpreter/DelegateActionExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Kit/ActionExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Kit/RootExecutor.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeCodeGenTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeWorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/Testcase.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowEvents.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowHarness.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Testcases/HumanInLoop.json
Labels: .NET, workflows

#1091 Python: DevUI improvements.
  python/packages/devui/agent_framework_devui/_discovery.py
  python/packages/devui/agent_framework_devui/_executor.py
  python/packages/devui/agent_framework_devui/_mapper.py
  python/packages/devui/agent_framework_devui/_server.py
  python/packages/devui/agent_framework_devui/_utils.py
  python/packages/devui/agent_framework_devui/models/_discovery_models.py
  python/packages/devui/agent_framework_devui/ui/agentframework.svg
  python/packages/devui/agent_framework_devui/ui/assets/index-D0SfShuZ.js
  python/packages/devui/agent_framework_devui/ui/assets/index-D1AmQWga.css
  python/packages/devui/agent_framework_devui/ui/assets/index-DPEaaIdK.js
  python/packages/devui/agent_framework_devui/ui/assets/index-WsCIE0bH.css
  python/packages/devui/agent_framework_devui/ui/index.html
  python/packages/devui/dev.md
  python/packages/devui/frontend/README.md
  python/packages/devui/frontend/index.html
  python/packages/devui/frontend/public/agentframework.svg
  python/packages/devui/frontend/src/App.tsx
  python/packages/devui/frontend/src/components/agent/agent-view.tsx
  python/packages/devui/frontend/src/components/shared/agent-details-modal.tsx
  python/packages/devui/frontend/src/components/shared/app-header.tsx
  python/packages/devui/frontend/src/components/shared/debug-panel.tsx
  python/packages/devui/frontend/src/components/shared/workflow-details-modal.tsx
  python/packages/devui/frontend/src/components/ui/toast.tsx
  python/packages/devui/frontend/src/components/workflow/workflow-input-form.tsx
  python/packages/devui/frontend/src/components/workflow/workflow-view.tsx
  python/packages/devui/frontend/src/services/api.ts
  python/packages/devui/frontend/src/types/index.ts
  python/packages/devui/pyproject.toml
  python/packages/devui/samples/weather_agent_azure/agent.py
  python/packages/devui/samples/workflow_agents/__init__.py
  python/packages/devui/samples/workflow_agents/workflow.py
  python/packages/devui/tests/test_mapper.py
  python/packages/devui/tests/test_schema_generation.py
Labels: documentation, python, devui

#1183 Python: .NET: Python: Add name and description to workflows
  dotnet/src/Microsoft.Agents.AI.Workflows/Observability/Tags.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Workflow.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/WorkflowBuilder.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/WorkflowBuilderSmokeTests.cs
  python/packages/core/agent_framework/_workflows/_workflow.py
  python/packages/core/agent_framework/observability.py
  python/packages/core/tests/workflow/test_serialization.py
  python/packages/core/tests/workflow/test_workflow_observability.py
Labels: python, .NET, workflows

#1207 .NET: Align skill naming in A2A sample
  dotnet/samples/A2AClientServer/A2AServer/HostAgentFactory.cs
Labels: .NET

#1225 Python: updated docstrings
  python/docs/generate_docs.py
  python/packages/a2a/agent_framework_a2a/_agent.py
  python/packages/copilotstudio/agent_framework_copilotstudio/_acquire_token.py
  python/packages/copilotstudio/agent_framework_copilotstudio/_agent.py
  python/packages/core/agent_framework/_agents.py
  python/packages/core/agent_framework/_clients.py
  python/packages/core/agent_framework/_mcp.py
  python/packages/core/agent_framework/_memory.py
  python/packages/core/agent_framework/_middleware.py
  python/packages/core/agent_framework/_serialization.py
  python/packages/core/agent_framework/_threads.py
  python/packages/core/agent_framework/_tools.py
  python/packages/core/agent_framework/_types.py
  python/packages/core/agent_framework/_workflows/_agent.py
  python/packages/core/agent_framework/_workflows/_executor.py
  python/packages/core/agent_framework/_workflows/_magentic.py
  python/packages/core/agent_framework/_workflows/_validation.py
  python/packages/core/agent_framework/_workflows/_workflow_executor.py
  python/packages/core/agent_framework/azure/_chat_client.py
  python/packages/core/agent_framework/azure/_entra_id_authentication.py
  python/packages/core/agent_framework/azure/_shared.py
  python/packages/core/agent_framework/observability.py
  python/packages/core/agent_framework/openai/_exceptions.py
  python/packages/core/agent_framework/openai/_shared.py
  python/packages/core/tests/core/test_middleware_with_chat.py
  python/packages/core/tests/core/test_types.py
  python/packages/lab/tau2/agent_framework_lab_tau2/_sliding_window.py
  python/packages/mem0/agent_framework_mem0/_provider.py
  python/packages/redis/agent_framework_redis/_chat_message_store.py
  python/packages/redis/agent_framework_redis/_provider.py
  python/pyproject.toml
  python/uv.lock
Labels: python, lab

#1196 .NET: Make ChatClientAgent no-message test less flaky
  dotnet/tests/AgentConformance.IntegrationTests/ChatClientAgentRunTests.cs
Labels: .NET

#1242 .NET Workflows - Fix code generation cases
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/AddConversationMessageTemplate.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/AddConversationMessageTemplate.tt
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/RetrieveConversationMessagesTemplate.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/CodeGen/RetrieveConversationMessagesTemplate.tt
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeCodeGenTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/CodeGen/CopyConversationMessagesTemplateTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/CodeGen/DeclarativeEjectionTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/CodeGen/RetrieveConversationMessageTemplateTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/CodeGen/RetrieveConversationMessagesTemplateTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/AddConversationMessage.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/AddConversationMessage.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/CopyConversationMessages.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/CopyConversationMessages.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/CreateConversation.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/CreateConversation.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/RetrieveConversationMessage.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/RetrieveConversationMessage.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/RetrieveConversationMessages.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/Workflows/RetrieveConversationMessages.yaml
Labels: bug, .NET, workflows

#1233 [BREAKING] .NET: Workflow Off-Thread Execution Mode
  dotnet/samples/GettingStarted/Workflows/Agents/CustomAgentExecutors/Program.cs
  dotnet/samples/GettingStarted/Workflows/Agents/FoundryAgent/Program.cs
  dotnet/samples/GettingStarted/Workflows/Checkpoint/CheckpointAndRehydrate/Program.cs
  dotnet/samples/GettingStarted/Workflows/Checkpoint/CheckpointAndResume/Program.cs
  dotnet/samples/GettingStarted/Workflows/Checkpoint/CheckpointWithHumanInTheLoop/Program.cs
  dotnet/samples/GettingStarted/Workflows/Concurrent/Concurrent/Program.cs
  dotnet/samples/GettingStarted/Workflows/Concurrent/MapReduce/Program.cs
  dotnet/samples/GettingStarted/Workflows/ConditionalEdges/01_EdgeCondition/Program.cs
  dotnet/samples/GettingStarted/Workflows/ConditionalEdges/02_SwitchCase/Program.cs
  dotnet/samples/GettingStarted/Workflows/ConditionalEdges/03_MultiSelection/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/Program.cs
  dotnet/samples/GettingStarted/Workflows/DeclarativeCode/Program.cs
  dotnet/samples/GettingStarted/Workflows/HumanInTheLoop/HumanInTheLoopBasic/Program.cs
  dotnet/samples/GettingStarted/Workflows/Loop/Program.cs
  dotnet/samples/GettingStarted/Workflows/Observability/AspireDashboard/Program.cs
  dotnet/samples/GettingStarted/Workflows/SharedStates/Program.cs
  dotnet/samples/GettingStarted/Workflows/_Foundational/01_ExecutorsAndEdges/Program.cs
  dotnet/samples/GettingStarted/Workflows/_Foundational/02_Streaming/Program.cs
  dotnet/samples/GettingStarted/Workflows/_Foundational/03_AgentsInWorkflows/Program.cs
  dotnet/samples/GettingStarted/Workflows/_Foundational/04_AgentWorkflowPatterns/Program.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Checkpointed.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/AsyncRunHandle.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/IRunEventStream.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/InputWaiter.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/LockstepRunEventStream.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/StepContext.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Execution/StreamingRunEventStream.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/ExecutionMode.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/IWorkflowExecutionEnvironment.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/InProc/InProcessExecutionEnvironment.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/InProc/InProcessRunner.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/InProc/InProcessRunnerContext.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/InProcessExecution.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Run.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/RunStatus.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Specialized/WorkflowHostExecutor.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/StreamingRun.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/Workflow.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/WorkflowHostAgent.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowHarness.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/DeclarativeWorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/ObjectModel/WorkflowActionExecutorTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/AgentWorkflowBuilderTests.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/ExecutionExtensions.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/InProcessStateTests.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/01_Simple_Workflow_Sequential.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/01a_Simple_Workflow_Sequential.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/02_Simple_Workflow_Condition.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/03_Simple_Workflow_Loop.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/04_Simple_Workflow_ExternalRequest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/05_Simple_Workflow_Checkpointing.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/06_GroupChat_Workflow.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/07_GroupChat_Workflow_HostAsAgent.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/08_Subworkflow_Simple.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/Sample/09_Subworkflow_ExternalRequest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.UnitTests/SampleSmokeTest.cs
Labels: .NET, workflows, breaking change

#1223 .NET: Add a CreateAIAgent extension method to IChatClient
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_ONNX/Program.cs
  dotnet/samples/GettingStarted/AgentProviders/Agent_With_Ollama/Program.cs
  dotnet/samples/GettingStarted/Agents/Agent_Step14_Middleware/Program.cs
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientBuilderExtensions.cs
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientExtensions.cs
  dotnet/tests/Microsoft.Agents.AI.UnitTests/ChatClient/ChatClientBuilderExtensionsTests.cs
  dotnet/tests/Microsoft.Agents.AI.UnitTests/ChatClient/ChatClientExtensionsTests.cs
Labels: .NET

#947 .NET: Enable access to hosted AIAgents via OpenAI Responses
  .github/workflows/dotnet-format.yml
  dotnet/agent-framework-dotnet.slnx
  dotnet/samples/AgentWebChat/AgentWebChat.AgentHost/AgentWebChat.AgentHost.csproj
  dotnet/samples/AgentWebChat/AgentWebChat.AgentHost/Program.cs
  dotnet/samples/AgentWebChat/AgentWebChat.Web/AgentDiscoveryClient.cs
  dotnet/samples/AgentWebChat/AgentWebChat.Web/AgentWebChat.Web.csproj
  dotnet/samples/AgentWebChat/AgentWebChat.Web/Components/Pages/Home.razor
  dotnet/samples/AgentWebChat/AgentWebChat.Web/OpenAIResponsesAgentClient.cs
  dotnet/samples/AgentWebChat/AgentWebChat.Web/Program.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/EndpointRouteBuilderExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Microsoft.Agents.AI.Hosting.OpenAI.csproj
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/AIAgentConversationsProcessor.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/AIAgentResponsesProcessor.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Model/ResponseStreamEvent.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/OpenAIResponsesRunOptions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/AgentRunResponseUpdateExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/OpenAIResponseJsonConverter.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/OpenAIResponsesJsonUtilities.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/ResponseCreationOptionsExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/ResponseItemExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Hosting.OpenAI/Responses/Utils/ResponseItemJsonConverter.cs
  dotnet/src/Microsoft.Agents.AI.Workflows/TurnToken.cs
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientAgent.cs
Labels: .NET, workflows

#1244 Python: ollama + azureai openapi samples fix
  python/packages/azure-ai/agent_framework_azure_ai/_chat_client.py
  python/samples/getting_started/agents/ollama/ollama_with_openai_chat_client.py
Labels: python

#1267 .NET: Support enum serialization as strings
  dotnet/src/Microsoft.Agents.AI/AgentJsonUtilities.cs
  dotnet/tests/Microsoft.Agents.AI.UnitTests/AgentJsonUtilitiesTests.cs
Labels: .NET

#1257 .NET: [BREAKING] Rename AsAIAgent to GetAIAgent and update for foundry as well
  dotnet/src/Microsoft.Agents.AI.AzureAI/PersistentAgentResponseExtensions.cs
  dotnet/src/Microsoft.Agents.AI.AzureAI/PersistentAgentsClientExtensions.cs
  dotnet/src/Microsoft.Agents.AI.OpenAI/Extensions/OpenAIAssistantClientExtensions.cs
  dotnet/tests/Microsoft.Agents.AI.AzureAI.UnitTests/Extensions/PersistentAgentsClientExtensionsTests.cs
Labels: .NET

#1271 .NET: Version preview.251007.1
  dotnet/nuget/nuget-package.props
Labels: .NET

#1272 .NET Workflows - Update declarative workflow sample structure
  dotnet/agent-framework-dotnet.slnx
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteCode/ExecuteCode.csproj
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteCode/Generated.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteCode/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteWorkflow/ExecuteWorkflow.csproj
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteWorkflow/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/GenerateCode/GenerateCode.csproj
  dotnet/samples/GettingStarted/Workflows/Declarative/GenerateCode/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/README.md
  workflow-samples/README.md
Labels: documentation, .NET, samples

#1255 Python: [BREAKING] parameter naming and other fixes
  .github/workflows/python-tests.yml
  python/packages/azure-ai/agent_framework_azure_ai/_chat_client.py
  python/packages/azure-ai/tests/test_azure_ai_agent_client.py
  python/packages/core/agent_framework/_agents.py
  python/packages/core/agent_framework/_clients.py
  python/packages/core/agent_framework/_middleware.py
  python/packages/core/agent_framework/_serialization.py
  python/packages/core/agent_framework/_types.py
  python/packages/core/agent_framework/azure/_responses_client.py
  python/packages/core/agent_framework/azure/_shared.py
  python/packages/core/agent_framework/exceptions.py
  python/packages/core/agent_framework/observability.py
  python/packages/core/agent_framework/openai/_chat_client.py
  python/packages/core/agent_framework/openai/_responses_client.py
  python/packages/core/tests/core/test_observability.py
  python/packages/core/tests/core/test_types.py
  python/packages/core/tests/openai/test_openai_chat_client_base.py
  python/packages/core/tests/openai/test_openai_responses_client.py
  python/packages/devui/agent_framework_devui/_discovery.py
  python/packages/devui/agent_framework_devui/_session.py
  python/packages/devui/agent_framework_devui/models/_discovery_models.py
  python/samples/getting_started/agents/openai/openai_responses_client_reasoning.py
Labels: python, breaking change

#1277 Python: bump version and update changelog
  .github/.linkspector.yml
  python/CHANGELOG.md
  python/packages/a2a/pyproject.toml
  python/packages/azure-ai/pyproject.toml
  python/packages/copilotstudio/pyproject.toml
  python/packages/core/pyproject.toml
  python/packages/devui/pyproject.toml
  python/packages/mem0/pyproject.toml
  python/packages/redis/pyproject.toml
  python/pyproject.toml
  python/uv.lock
Labels: documentation, python, lab

#1270 .NET: Reference the correct JsonUtilities class from ChatClientAgentThread
  dotnet/src/Microsoft.Agents.AI/ChatClient/ChatClientAgentThread.cs
Labels: .NET

#1274 .NET Workflows - Enhance support and validation for image input
  .github/workflows/dotnet-build-and-test.yml
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteCode/Program.cs
  dotnet/samples/GettingStarted/Workflows/Declarative/ExecuteWorkflow/Program.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/AzureAgentProvider.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Extensions/AgentProviderExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Extensions/ChatMessageExtensions.cs
  dotnet/src/Microsoft.Agents.AI.Workflows.Declarative/Microsoft.Agents.AI.Workflows.Declarative.csproj
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Agents/TestAgent.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/AzureAgentProviderTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeCodeGenTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/DeclarativeWorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/IntegrationTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowHarness.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Framework/WorkflowTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/MediaInputTest.cs
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.IntegrationTests/Workflows/MediaInput.yaml
  dotnet/tests/Microsoft.Agents.AI.Workflows.Declarative.UnitTests/DeclarativeWorkflowTest.cs
Labels: .NET, workflows

#1265 Update readme.md sample to show sample parameter values and switch to openai sdk
  README.md
Labels: documentation

#1290 Python: fix tool call content not showing up in workflow events
  python/packages/core/agent_framework/_workflows/_agent_executor.py
  python/packages/core/agent_framework/_workflows/_runner_context.py
  python/packages/core/tests/workflow/test_agent_executor_tool_calls.py
  python/samples/getting_started/workflows/README.md
  python/samples/getting_started/workflows/agents/azure_chat_agents_function_bridge.py
  python/samples/getting_started/workflows/agents/azure_chat_agents_tool_calls_with_feedback.py
Labels: documentation, python
